select {
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	appearance: none;
	height: 3rem;
	min-height: 3rem;
	border-width: 1px;
	border-color: hsl(var(--bc)/var(--tw-border-opacity));
	--tw-border-opacity: 0;
	--tw-bg-opacity: 1;
	background-color: hsl(var(--b1)/var(--tw-bg-opacity));
	border-radius: var(--rounded-btn,.5rem);
	background-image: linear-gradient(45deg,#0000 50%,currentColor 50%),linear-gradient(135deg,currentColor 50%,#0000 50%);
	background-position: calc(100% - 20px) calc(1px + 50%),calc(100% - 16px) calc(1px + 50%);
	background-repeat: no-repeat;
	background-size: 4px 4px,4px 4px;
	flex-shrink: 0;
	padding-left: 1rem;
	padding-right: 2.5rem;
	font-size: .875rem;
	font-weight: 600;
	line-height: 2;
	transition-property: color,background-color,border-color,-webkit-text-decoration-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
	transition-duration: .2s;
	transition-timing-function: cubic-bezier(.4,0,.2,1);
	display: inline-flex;
  }