:root{
	--rgb-colorD:111, 95, 72;
	--rgb-colorL:204, 170, 119;

	--rgb-color:var(--rgb-colorD);
	
	--rgb-dark:0,0,0;
	--rgb-light:17, 34, 51;
	--a-text:.7;
}
body{
	--color:var(--rgb-color);
	--light:var(--rgb-light);
	--dark:var(--rgb-dark);
	background-color: rgb(var(--dark));
}
body.night{
	--color:var(--rgb-color);
	--light:var(--rgb-dark);
	--dark:var(--rgb-light);
}
nav{
	background-color: rgb(var(--light));
}